[builderDetails]
modelClass = "Pis\Site\Models\Tagline"
identifierValue = "alasan"
modelKeyColumn = "name"
displayColumn = "title"
notFoundMessage = "Record not found"

[builderList]
modelClass = "Pis\Site\Models\Reason"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "order"
sortDirection = "asc"
==
<!-- ALASAN -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h2 class="underline-s">{% component 'builderDetails' %}</h2>
			</div>
		</div>
		<div class="row">{% set records = builderList.records %}
			{% set displayColumn = builderList.displayColumn %}
			{% set noRecordsMessage = builderList.noRecordsMessage %}
			{% set detailsPage = builderList.detailsPage %}
			{% set detailsKeyColumn = builderList.detailsKeyColumn %}
			{% set detailsUrlParameter = builderList.detailsUrlParameter %}

			{% for alasan in records %}
				<div class="col-sm-3 col-xs-6 text-center">
					<img src="{{alasan.image.path}}" alt="{{alasan.content}}" class="img-responsive">
					<p>{{alasan.content}}</p>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
	<!-- END ALASAN -->