[builderDetails]
modelClass = "Pis\Site\Models\Tagline"
identifierValue = "hero tagline"
modelKeyColumn = "name"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<!-- HERO -->
<section class="section-hero">
	<div class="overlay overlay-green"></div>
	<div class="kenburns-img-wrapper">
		<img src="{{'assets/img/penida-trip-hero1.jpg'|theme}}" alt="Kelingking Beach | Penida Trip">
		<img src="{{'assets/img/penida-trip-hero2.jpg'|theme}}" alt="Broken Beach | Penida Trip">
		<img src="{{'assets/img/penida-trip-hero3.jpg'|theme}}" alt="Broken Beach | Penida Trip">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<div class="hero-text-wrapper">
					<img src="{{'assets/img/penida-trip-logo.svg'|theme}}" alt="Penida Trip Logo" class="img-responsive logo center-block">
					<h1>
						{% set record = builderDetails.record %}
						{% set displayColumn = builderDetails.displayColumn %}
						{% set notFoundMessage = builderDetails.notFoundMessage %}

						{% if record %}
						{{ record.title }}
						{% else %}
						{{ notFoundMessage }}
						{% endif %}
					</h1>
						{% if record %}
						{{ record.content|raw }}
						{% else %}
						{{ notFoundMessage }}
						{% endif %}
					<img src="{{'assets/img/penida-trip-promo-tiket.png'|theme}}" alt="Badge Promo Tiket Subsidi" class="img-responsive badge-ticket center-block">
					<a href="{{ url('/')~'/paket/'}}" class="btn btn-primary">Tour Penida Trip <img src="{{'assets/img/penida-trip-paket-icon.svg'|theme}}" alt="Paket Icon" class="package-box--btn-img"></a>
					<a href="{{'paket-list'|page}}" class="btn btn-danger">Booking Now <img src="{{'assets/img/penida-trip-booking-icon.svg'|theme}}" alt="Booking Icon" class="package-box--btn-img"></a>
				</div>
			</div>
		</div>
	</div>
</section>
	<!-- END HERO -->

	<!-- WAVE -->
	<div class="wave">
		<img src="{{'assets/img/penida-trip-wave.svg'|theme}}" alt="" class="img-responsive">
	</div>
	<!-- END WAVE -->