==
{% put additional_js %}
<script src="{{[
'assets/js/instafeed.min.js',
'assets/js/ig-init.js',
]|theme}}"></script>
{% endput %}
<!-- INSTAGRAM -->
	<section class="section-instagram">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<h2 class="underline-s">Instagram Penida Trip</h2>
				</div>
			</div>
			<div class="row">
    			<div class="row" id="instafeed">
                    <!-- Feed muncul disini -->    
                </div>
			</div>
		</div>
	</section>
	<!-- END INSTAGRAM -->