[builderList spots]
modelClass = "Pis\Site\Models\Spot"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "lokasi"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[builderDetails]
modelClass = "Pis\Site\Models\Tagline"
identifierValue = "spot"
modelKeyColumn = "name"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<!-- LOKASI WISATA -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<h2 class="underline-s">{% component 'builderDetails' %}</h2>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<div class="col-md-10 col-md-offset-1">
						<div class="owl-theme owl-carousel owl-carousel--location">
						{% set records = spots.records %}
						{% set displayColumn = spots.displayColumn %}
						{% set noRecordsMessage = spots.noRecordsMessage %}
						{% set detailsPage = spots.detailsPage %}
						{% set detailsKeyColumn = spots.detailsKeyColumn %}
						{% set detailsUrlParameter = spots.detailsUrlParameter %}
    {% for record in records %}
        	<div class="item">
				<img src="{{record.thumbnail.path}}" alt="{{record.title}} | Trip Nusa Penida" class="img-responsive">
				<div class="location-text">
					<h3>{{record.title}}</h3>
					{% set array = record.content|split('.') %}
					<p>{{attribute(array, 0)|striptags ~ '...'}}</p>
					<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="small">Selengkapnya <span><i class="fa fa-long-arrow-right"></i></span></a>
				</div>
			</div>
    {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END LOKASI WISATA -->