[builderList]
modelClass = "Pis\Site\Models\Paket"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "paket"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[builderDetails]
modelClass = "Pis\Site\Models\Tagline"
identifierValue = "paket"
modelKeyColumn = "name"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<?php
use Pis\Site\Models\Paket;
use Pis\Site\Models\PaketDisplay;
function onStart()
{
    $this['array'] = PaketDisplay::where('name', $this['sticky_paket_list'])->take(1)->get();
    $str = 'Select 0 as id from dual';
    foreach($this['array'][0]['content'] as $paket){
            $str = $str.' union select ' . $paket['paket'] . ' as id' ;
        }    
    $this['paket_list']=Db::select('select p.*, concat(\'http://penidatrip.com/storage/app/uploads/public/\',SUBSTRING(f.disk_name, 1, 3),\'/\',SUBSTRING(f.disk_name, 4, 3),\'/\',SUBSTRING(f.disk_name, 7, 3),\'/\', f.disk_name) as thumbnail, f.file_name from pis_site_paket p inner join ('.$str.') d on p.id = d.id inner join system_files f on f.attachment_id = p.id  WHERE f.attachment_type like \'%Paket\' AND f.field = \'thumbnail\'');
    $min_array = [];
    foreach($this['paket_list'] as $paket){
        $min = 10000000;
        foreach(json_decode($paket->price_list) as $row){
            if($row->wni < $min){
                $min = $row->wni;
                }
            }
        array_push($min_array, $min);
        }
        $this['min'] = $min_array;
}
?>
==
<!-- PAKET -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h2 class="underline-s">{% component 'builderDetails' %}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="owl-carousel owl-theme owl-carousel--package">
				
                    {% set index = 0 %}
					{% for record in paket_list %}
					<div class="item text-center">
					    <img src="{{record.thumbnail}}" alt="{{record.name}}" class="img-responsive">
					    <div class="package-box">
					        <a href="{{ url('/')~'/paket/' ~ record.slug }}" class="btn btn-primary">Selengkapnya <img src="{{'assets/img/penida-trip-search-icon.svg'|theme}}" alt="Search Icon" class="package-box--btn-img"></a>
					        <a href="{{'paket-list'|page ~ '?paket='~record.name|replace({' ':''})}}" class="btn btn-danger">Booking Now <img src="{{'assets/img/penida-trip-booking-icon.svg'|theme}}" alt="Booking Icon" class="package-box--btn-img"></a>
					        <h3>{{record.name}}</h3>
					        <p>Mulai dari <span>Rp {{ min[index]|number_format(0, ',', '.') }}</span></p>
					    </div>
					</div>
					{% set index = index + 1 %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
	<!-- END PAKET -->