[builderDetails]
modelClass = "Pis\Site\Models\Statistic"
identifierValue = 4
modelKeyColumn = "id"
displayColumn = "title"
notFoundMessage = "Record not found"

[builderList]
modelClass = "Pis\Site\Models\Statistic"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 3
pageNumber = "{{ :page }}"
==
<!-- STATISTIK N PARTNER -->
<section class="section-partner-statistik">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-left" style="background-image:url('{{'assets/img/penida-trip-statistik-bg.jpg'|theme}}');">
				<div class="overlay overlay-green"></div>
				<div class="col-content">
					{% set records = builderList.records %}
					{% set displayColumn = builderList.displayColumn %}
					{% set noRecordsMessage = builderList.noRecordsMessage %}
					{% set detailsPage = builderList.detailsPage %}
					{% set detailsKeyColumn = builderList.detailsKeyColumn %}
					{% set detailsUrlParameter = builderList.detailsUrlParameter %}

						{% for record in records %}
						<div class="col-left-content--list">
							<img src="{{record.image.path}}" alt="Tour Sukses Icon" class="img-responsive statistic-icon">
							<div class="inline-block">
								<h3>{{record.title}}</h3>
								{{record.content|raw}}
							</div>
						</div>
						{% endfor %}
				</div>
			</div>
			<div class="col-md-6 col-sm-12 text-center col-right">
				<div class="col-content">
					<h2>
						{% set record = builderDetails.record %}
						{% set displayColumn = builderDetails.displayColumn %}
						{% set notFoundMessage = builderDetails.notFoundMessage %}

						{% if record %}
						{{ attribute(record, displayColumn) }}
						{% else %}
						{{ notFoundMessage }}
						{% endif %}
					</h2>
					<a href="#"><img src="{{record.image.path}}" alt="Logo Malangtoday.net" class="img-responsive center-block list-media-img"></a>
				</div>
			</div>
		</div>
	</div>
</section>
	<!-- END STATISTIK N PARTNER -->