==
<?php
use Pis\Site\Models\Testimonial;

function onStart(){
        $raw_testimonials = Testimonial::orderBy('order','asc')->get();
        $x=$y=0;
        $testimonial=$temp=[];
        foreach($raw_testimonials as $testi){
        	if($y==2){
        		$y = 0;
        		$testimonial[$x]=$temp;
        		$temp=[];
        		$x++;
	        }
	        $temp[$y]=$testi;
        	$y++;
	    }
	    if($y!=0){
	    	$testimonial[$x]=$temp;
		}

		$this['testimonial'] = $testimonial;
}
?>
==
<!-- TESTIMONIAL -->
	<section class="section-testimonial">
		<div class="container">
			<div class="row">
				<div class="owl-carousel owl-theme owl-carousel--testimonial">
					{% for row in testimonial %}
					<div class="item">
						{% for testi in row %}
							<div class="col-sm-6">
									<blockquote>
									  <p>{{testi.content}}</p>
									  <footer>
											<img src="{{testi.photo.path}}" alt="Testimonial {{testi.name}}" class="img-circle">
											<p><strong>{{testi.name}}</strong> <br> {{testi.city}}</p>
										</footer>
									</blockquote>
								</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!-- END TESTIMONIAL -->