[builderDetails]
modelClass = "Pis\Site\Models\Tagline"
identifierValue = "tiket pesawat"
modelKeyColumn = "name"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<!-- TIKET -->
<section id="tiket" class="section-info section-info--first text-center" style="background-image:url('{{'assets/img/penida-trip-tiket-bg.jpg'|theme}}');" data-scroll-goto="1">
	<div class="overlay overlay-black"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="underline-s">
					{% set record = builderDetails.record %}
					{% set displayColumn = builderDetails.displayColumn %}
					{% set notFoundMessage = builderDetails.notFoundMessage %}

					{% if record %}
					{{ record.title }}
					{% else %}
					{{ notFoundMessage }}
					{% endif %}
				</h2>
				<p class="lead">
					{% if record %}
					{{ record.content|raw }}
					{% else %}
					{{ notFoundMessage }}
					{% endif %}
				</p>
			</div>
		</div>
	</div>
</section>
	<!-- END TIKET -->