{% set paket = __SELF__.paket %}
{% put additional_js %}
	tralala
{% endput %}
<form class="form-booking form-card" data-request="onSend" method="POST" data-request-flash>
	<div class="form-title">
		<h2>Booking Sekarang</h2>
		<p>Silahkan isi form dibawah ini untuk melakukan pemesanan</p>
		<p class="small"><em>Tim kami akan menghubungi anda lebih lanjut</em></p>
	</div>
	<fieldset>

		<!-- Jumlah orang -->
		<div class="form-group clearfix">
			<div class="col-sm-6 form-list-item">
				<label class="control-label" for="jumlahwni">WNI</label>
				<input type="number" id="jumlahwni" name="jumlahwni" value="0" class="form-control" required>
			</div>
			<div class="col-sm-6 form-list-item">
				<label class="control-label" for="jumlahwna">WNA</label>
				<input type="number" id="jumlahwna" name="jumlahwna" value="0" class="form-control" required>
			</div>
		</div>

		<!-- Pilih Paket -->
		<div class="form-group clearfix">
			<div class="col-sm-12 form-list-item">
				<label class="control-label" for="pilihpaket">Paket Tour</label>
				<select id="pilihpaket" name="pilihpaket" class="form-control" required>
					{% for option in paket %}
						<option value="{{option.name}}">{{option.name}}</option>
					{% endfor %}
					<option value="custom">custom</option>
				</select>
			</div>
			<!-- <div class="col-sm-4 form-list-item">
				<label class="control-label" for="totalbiaya">Total Biaya</label>
				<input type="text" id="totalbiaya" name="totalbiaya" value="" class="form-control" disabled>
			</div> -->
		</div>

		<!-- Tanggal mulai n Nama -->
		<div class="form-group clearfix">
			<div class="col-sm-6 form-list-item">
				<label class="control-label" for="tanggalbooking">Tanggal Mulai</label>
				<input type="text" name="tanggalbooking" id="tanggalbooking" class="form-control">
			</div>
			<div class="col-sm-6 form-list-item">
				<label class="control-label" for="nama">Nama*</label>
				<input type="text" name="nama" id="nama" class="form-control" required>
			</div>
		</div>

		<!-- Telepon Email -->
		<div class="form-group clearfix">
			<div class="col-sm-6 form-list-item">
				<label class="control-label" for="telepon">Telepon*</label>
				<input type="text" name="telepon" id="telepon" class="form-control" required>
			</div>
			<div class="col-sm-6 form-list-item">
				<label class="control-label" for="email">Email*</label>
				<input type="text" name="email" id="email" class="form-control" required>
			</div>
		</div>

		<!-- Keterangan  -->
		<div class="form-group clearfix">
			<div class="col-sm-12 form-list-item">
				<label for="keterangan" class="control-label">Keterangan</label>
				<textarea id="keterangan" name="keterangan" rows="4" class="form-control"></textarea>
			</div>
		</div>

		<div class="form-group clearfix">
			<div class="col-sm-12">
				<button type="submit" name="kirim" id="kirim" class="btn btn-danger btn-booking full-width">Pesan</button>
			</div>
		</div>

	</fieldset>
</form>
{% flash %}
    <div class="alert alert-{{ type }}">
        {{ message }}
    </div>
{% endflash %}