<p>
	Paket: {{paket}}<br>
	Tanggal: {{tanggal}}<br>
	Nama: {{nama}}<br>
	Telepon: {{tel}}<br>
	Email: {{email}}<br>
	Jumlah WNI: {{wni}}<br>
	Jumlah WNA: {{wna}}<br>
	Keterangan: {{keterangan}}<br>
</p>