.of-image {
    object-fit: cover;
}

.article-img {
    height: 150px;
    width: 100%;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.img-circle {
    border-radius: 50%;
}

.img-boat-thumb {
    height: 150px;
    margin-top: 30px;
}

.img-hotel {
    margin-top: 15px;
}

.img-box {
    height: 175px;
    margin-top: 30px;
}

.ig-feed-thumb {
    height: 150px;
}

.page-title {
    min-height:350px;
    background-position: bottom center;
}

.package-box-sticky h4{
    margin-bottom: 5px;
}

.package-box-sticky p{
    font-size: 14px;
}

.pager-left {
    left: 50px;
}

.pager-right {
    right: 50px;
}

.slider-paket {
    box-shadow: 0 -2px 15px rgba(0,0,0,.2);
    padding: 40px 0 20px;
}

@media (max-width: 767px) {
    .pager-right {
        right: 0;
    }
    
    .pager-left {
        left: 0;
    }
}