body {
  color: #808080;
  background: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #00C234;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #003C10;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
}

section {
  padding: 60px 0;
  position: relative;
}

.btn {
  border-radius: 3px;
  letter-spacing: 1px;
  padding: 10px 12px;
}

.btn-primary {
  background-color: #00C234;
  border-color: #00C234;
}

.btn-primary:hover {
  background-color: #00761f;
  border-color: #00761f;
}

.btn-danger {
  background-color: #ED5A50;
  border-color: #ED5A50;
}

.btn-danger:hover {
  background-color: #e82e22;
  border-color: #e82e22;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.overlay-black {
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-green {
  background-color: rgba(0, 60, 16, 0.7);
}

.underline-s {
  margin-bottom: 30px;
}

.underline-s::after {
  content: '';
  border-bottom: 4px solid #003C10;
  display: block;
  position: absolute;
  width: 45px;
  margin: auto;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}

.inline-block {
  display: inline-block;
}

.wave {
  position: relative;
  top: -40px;
}

.page-title {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title .overlay {
  opacity: .8;
}

.page-title--heading {
  color: inherit;
  font-size: 40px;
  margin-bottom: 8px;
}

.page-title--breadcrumb a {
  color: inherit;
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.of-img {
  object-fit: cover;
}

.navbar-inverse {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #003C10;
  border: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: inherit;
}

.navbar-inverse .navbar-nav > li > a::after, .navbar-inverse .navbar-nav > li > a::before {
  display: inline-block;
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a::before {
  margin-right: 10px;
  content: '[';
  transform: translateX(20px);
}

.navbar-inverse .navbar-nav > li > a::after {
  margin-left: 10px;
  content: ']';
  transform: translateX(-20px);
}

.navbar-inverse .navbar-nav > li > a:focus::after, .navbar-inverse .navbar-nav > li > a:focus::before, .navbar-inverse .navbar-nav > li > a:hover::after, .navbar-inverse .navbar-nav > li > a:hover::before {
  opacity: 1;
  transform: translateX(0);
}

.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a:focus::after, .navbar-inverse .navbar-nav > .active > a:focus::before,
.navbar-inverse .navbar-nav > .active > a:hover::after,
.navbar-inverse .navbar-nav > .active > a:hover::before,
.navbar-inverse .navbar-nav > .active > a::after,
.navbar-inverse .navbar-nav > .active > a::before {
  opacity: 1;
  transform: translateX(0);
}

.navbar-inverse .navbar-toggle {
  border: 0;
  margin: 15px;
  padding: 15px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-toggle.collapsed .icon-bar {
  background-color: #ffffff;
}

.navbar-inverse .navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
  top: 0;
  transform: rotate(0deg);
}

.navbar-inverse .navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
  margin-left: 0;
  opacity: 1;
  width: 100%;
}

.navbar-inverse .navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0deg);
  bottom: 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
  position: relative;
  border-radius: 0;
  background-color: #ffffff;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-inverse .navbar-toggle .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  top: 6px;
}

.navbar-inverse .navbar-toggle .icon-bar:nth-of-type(2) {
  opacity: 0;
  width: 0;
  margin-left: 50%;
}

.navbar-inverse .navbar-toggle .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  bottom: 6px;
}

.navbar-right {
  margin-right: 0;
}

.navbar-brand {
  height: auto;
  position: relative;
  z-index: 1;
}

.navbar-brand img {
  width: 100px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: transparent;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-menu > li > a {
  padding: 0 20px 10px;
}

.dropdown-menu > li > a:first-child {
  padding-top: 10px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #00C234;
  color: inherit;
}

.lang-switcher {
  margin-right: 0;
  margin-left: 0;
}

.lang-switcher > li {
  padding: 15px 0;
}

.lang-switcher > li > a {
  color: #ffffff;
  padding: 5px;
  border-radius: 3px;
}

.lang-switcher > li > a.active {
  background-color: #00C234;
}

.navbar-wrapper {
  margin-right: 20px;
}

.navbar-collapse {
  position: relative;
}

.navbar-collapse form[role="search"] {
  position: absolute;
  top: 19px;
  right: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
  padding: 8px 12px;
  border-radius: 0;
  border-width: 0;
  color: #777777;
  background-color: #ffffff;
  border-color: #e7e7e7;
  box-shadow: none;
  outline: none;
}

.navbar-collapse form[role="search"] input {
  padding: 16px 12px;
  font-size: 14pt;
  font-style: italic;
  color: #a0a0a0;
  box-shadow: none;
}

@media (min-width: 768px) {
  .navbar-collapse {
    padding-top: 0 !important;
    padding-right: 38px !important;
  }
  .navbar-collapse form[role="search"] {
    width: 38px;
    text-align: right;
  }
  .navbar-collapse form[role="search"] input {
    padding: 18px 12px;
    font-size: 12pt;
    opacity: 0;
    display: none;
  }
  .navbar-collapse form[role="search"].active {
    width: 100%;
  }
  .navbar-collapse form[role="search"].active button, .navbar-collapse form[role="search"].active input {
    display: table-cell;
    opacity: 1;
  }
  .navbar-collapse form[role="search"].active input {
    width: 100%;
  }
}

.btn-search {
  background: transparent !important;
}

.btn-search span {
  color: #ffffff;
}

.navbar-transparent {
  background-color: transparent;
  box-shadow: none;
}

.footer {
  background-color: #003C10;
  font-size: 14px;
  color: #ffffff;
}

.footer h4 {
  color: inherit;
}

.footer a {
  color: #ffffff;
}

.footer .row:first-child {
  padding: 60px 0 0;
}

.footer hr {
  opacity: .2;
}

.contact-box {
  margin-bottom: 20px;
}

.contact-box img {
  width: 20px;
}

.contact-box:last-child {
  margin-bottom: 0;
}

.recent-article-list {
  margin-bottom: 15px;
}

.recent-article-list p {
  margin-bottom: 0;
}

.recent-article-list p:nth-child(2) {
  font-size: 12px;
  opacity: .7;
}

.social-icon {
  width: 20px;
  margin: 0;
}

.social-icon-wrapper li {
  padding: 0 2px;
}

.form-card {
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  padding: 40px 20px;
}

.form-control {
  background-color: #f7f7f7;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  height: 40px;
}

.form-control:focus {
  box-shadow: 0 0 4px rgba(0, 194, 52, 0.8);
}

.form-group {
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.section-hero {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 90px;
}

.section-hero h1 {
  color: inherit;
  margin-bottom: 0;
}

.section-info {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  overflow: hidden;
}

.section-info h2 {
  color: #ffffff;
}

.section-info .underline-s::after {
  border-color: #ffffff;
}

.section-instagram h2 {
  margin-bottom: 60px;
}

.section-partner-statistik {
  padding: 0;
}

.section-testimonial {
  background: #2A2A2A;
  color: #ffffff;
}

.kenburnsy {
  position: relative;
  overflow: hidden;
}

.kenburnsy.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.kenburnsy img {
  display: none;
  width: 100%;
}

.kenburnsy .slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform-origin: center;
}

.hero-text-wrapper .logo {
  width: 100px;
  margin-bottom: 20px;
}

.hero-text-wrapper .badge-ticket {
  margin-top: 20px;
  margin-bottom: 30px;
}

.package-box--btn-img {
  display: inline-block;
  width: 23px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 8px;
  margin-left: 5px;
}

.owl-carousel--package .item .package-box--btn-img {
  display: inline-block;
  width: 23px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 8px;
  margin-left: 5px;
}

.owl-carousel--package .owl-item {
  opacity: .5;
  transform: scale(0.75);
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel--package .owl-item.center {
  opacity: 1;
  transform: scale(1);
}

.package-box .btn {
  margin-bottom: 15px;
}

.package-box h3 {
  margin-bottom: 10px;
  position: relative;
}

.package-box h3::before {
  content: '';
  border-bottom: 1px solid #ededed;
  width: 120px;
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: -7px;
}

.package-box p span {
  color: #ED5A50;
}

.location-text {
  text-align: right;
  position: absolute;
  top: 45px;
  right: 0;
  width: 35%;
}

.location-text h3 {
  margin-bottom: 10px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 2px;
  background: #e1e1e1;
  border: 2px solid transparent;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
  border: 2px solid #00C234;
}

.section-testimonial .item img {
  width: 75px;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

.section-testimonial .item p {
  display: inline-block;
}

.section-testimonial blockquote {
  border-left: none;
  font-size: 14px;
  position: relative;
}

.section-testimonial blockquote > p {
  min-height: 126px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.section-testimonial blockquote::before {
  content: '"';
  display: inline-block;
  position: absolute;
  left: 0;
  font-size: 50px;
  line-height: 1;
}

.section-testimonial blockquote footer::before {
  content: '';
}

.section-testimonial blockquote footer p {
  color: #ffffff;
  margin-left: 15px;
  margin-top: 10px;
}

.owl-theme.owl-carousel--testimonial .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}

.owl-theme.owl-carousel--testimonial .owl-dots .owl-dot span {
  background: #616161;
  border: none;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-theme.owl-carousel--testimonial .owl-dots .owl-dot.active span, .owl-theme.owl-carousel--testimonial .owl-dots .owl-dot:hover span {
  background: #ffffff;
  border: none;
}

.col-left, .col-right {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
}

.col-content {
  z-index: 2;
}

.col-left {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  overflow: hidden;
}

.col-left-content--list {
  margin-bottom: 40px;
}

.col-left-content--list:last-child {
  margin-bottom: 0;
}

.col-left-content--list .statistic-icon {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.col-left-content--list h3 {
  color: #ffffff;
  margin-bottom: 0;
}

.col-left-content--list p {
  margin-bottom: 0;
}

.col-left-content--list .inline-block {
  width: 345px;
  margin-left: 35px;
}

.col-right {
  background-color: #FAFAFA;
}

.col-right h2 {
  margin-bottom: 15px;
}

.col-right .list-media-img {
  width: 70%;
}

.instagram-list {
  display: block;
  margin-bottom: 30px;
}

.instagram-list figcaption {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  text-align: center;
  opacity: 0;
  z-index: 1;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.instagram-list figcaption p {
  color: #ffffff;
}

.instagram-list figure {
  background-color: #003C10;
  position: relative;
  overflow: hidden;
}

.instagram-list figure img {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.instagram-list:hover figure img {
  opacity: .5;
  transform: rotate(3deg) scale(1.15);
}

.instagram-list:hover figure figcaption {
  opacity: 1;
  top: 0;
}

.instagram-list:hover figcaption p {
  opacity: 1;
}

.package-item {
  margin-top: 30px;
  position: relative;
}

.section-booking {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-title {
  padding: 0 15px;
}

.form-title h2 {
  font-weight: 600;
  margin-bottom: 5px;
}

.form-title p {
  margin-bottom: 0;
}

.form-title .small {
  margin-bottom: 20px;
}

.btn-booking {
  font-size: 15px;
  font-weight: 600;
  padding: 15px 12px;
}

.owl-theme.owl-carousel--photo .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
  text-align: right;
}

.table {
  margin-bottom: 30px;
}

.table > tbody > tr > td {
  border-top: 0;
  color: #000;
  padding: 10px;
}

.table > thead > tr > th {
  border-bottom: 0;
  color: #000;
  padding: 10px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0, 194, 52, 0.5);
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: rgba(194, 255, 210, 0.5);
}

.timeline-centered {
  margin: 30px 0;
  position: relative;
}

.timeline-centered::after, .timeline-centered::before {
  content: '';
  display: table;
}

.timeline-centered::after {
  clear: both;
}

.timeline-centered::before {
  background: #ededed;
  bottom: 20px;
  content: '';
  display: block;
  margin-left: 52px;
  position: absolute;
  top: 20px;
  width: 4px;
}

.timeline-centered .timeline-entry {
  clear: both;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 5px;
  position: relative;
}

.timeline-centered .timeline-entry::after, .timeline-centered .timeline-entry::before {
  content: '';
  display: table;
}

.timeline-centered .timeline-entry::after {
  clear: both;
}

.timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
  float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -100px;
  text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label::after {
  left: auto;
  margin-left: 0;
  margin-right: -9px;
  right: 0;
  transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
  margin-left: -20px;
  position: relative;
}

.timeline-centered .timeline-entry .timeline-entry-inner::after, .timeline-centered .timeline-entry .timeline-entry-inner::before {
  content: '';
  display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner::after {
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  box-sizing: border-box;
  left: -100px;
  padding: 10px;
  position: absolute;
  text-align: right;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 15px;
  font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  border-radius: 50%;
  box-shadow: 0 0 0 4px #00C234;
  display: block;
  float: left;
  width: 90px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f5f5f6;
  padding: 1em;
  margin-left: 120px;
  background-clip: padding-box;
  border-radius: 3px;
  margin-bottom: 30px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label-last {
  margin-bottom: 0;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f5f5f6 transparent transparent;
  left: 0;
  top: 30px;
  margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h4 {
  margin-bottom: 2px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  margin-bottom: 0;
}

/* Corousel paket */
.slider-paket {
  background: #FAFAFA;
}

.customNavigation {
  top: 50%;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
}

.customNavigation > span {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
}

.pager-left {
  left: 8%;
}

.pager-right {
  right: 8%;
}

.next,
.prev {
  font-size: 40px;
  color: #00C234;
}

.owl-carousel--slide .package-box h3::before {
  right: auto;
}

.slider-paket {
  padding: 40px 0 30px;
  z-index: 10;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider-paket.sticky {
  padding: 30px 0 15px;
}

.slider-paket.sticky .owl-carousel--slide .owl-item img {
  width: 70%;
}

.owl-carousel--slide .owl-item img {
  width: 100%;
}

.owl-carousel--slide .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.article-img {
  margin-bottom: 15px;
}

.article-content {
  border-bottom: 1px solid #ededed;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.article-content h3 {
  margin-bottom: 5px;
}

.pagination > li > a,
.pagination > li > span {
  color: #000;
}

.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  background-color: #00C234;
  border-color: #00C234;
  color: #ffffff;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.pagination > li.active > a {
  background-color: #00C234;
  border-color: #00C234;
  color: #ffffff;
}

.img-boat {
  margin-bottom: 40px;
  height: 300px;
}

.media-object {
  width: 470px;
  height: 470px;
  object-fit: cover;
}

.titlehotel {
  font-family: Arial;
  font-size: 35px;
  margin-bottom: 35px;
  margin-top: 0px;
}

.linehotel {
  border-width: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.owl-carousel--packagehotel .item .package-box--btn-img {
  display: inline-block;
  width: 23px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 8px;
  margin-left: 5px;
}

/* Extra Small devices (mobiles, 320px and up) */
@media (max-width: 767px) {
  .navbar-mobile {
    background-color: #003C10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: inherit;
  }
  .btn {
    margin-bottom: 10px;
    min-width: 190px;
  }
  .section-hero {
    height: auto;
    padding-top: 120px;
  }
  .location-text {
    position: relative;
    text-align: center;
    top: 25px;
    width: 100%;
  }
  .col-content {
    padding: 60px 0;
    text-align: center;
    width: 90%;
  }
  .col-left,
  .col-right {
    min-height: 250px;
  }
  .col-left-content--list .statistic-icon {
    margin: 0 auto 20px;
  }
  .col-left-content--list .inline-block {
    margin-left: 0;
    width: auto;
  }
  .instagram-list {
    margin-bottom: 15px;
  }
  .footer-content {
    margin-bottom: 30px;
  }
  .wave {
    top: -20px;
  }
  .page-title {
    min-height: 280px;
    padding-top: 100px;
  }
  .page-title--heading {
    font-size: 30px;
  }
  .form-card {
    padding: 25px 5px;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-list-item {
    margin-bottom: 20px;
  }
  .pager-right {
    right: 0;
  }
  .pager-left {
    left: 0;
  }
  .pager-right .btn, .pager-left .btn {
    min-width: auto;
  }
  .slider-paket .package-box .btn {
    min-width: auto;
  }
  .slider-paket .item {
    text-align: center;
  }
  .slider-paket.sticky {
    padding: 30px 0 15px;
  }
  .owl-carousel--slide .package-box h3::before {
    right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand img {
    width: 50px;
  }
  .nav > li > a {
    padding: 10px 0;
  }
  .navbar-nav > li > a {
    line-height: 34px;
  }
  .location-text {
    width: 45%;
  }
  .col-content {
    width: 50%;
    text-align: center;
    padding: 60px 0;
  }
  .col-left, .col-right {
    min-height: 250px;
  }
  .col-left-content--list .statistic-icon {
    margin: 0 auto 20px;
  }
  .col-left-content--list .inline-block {
    margin-left: 0;
    width: auto;
  }
  .navbar-collapse form[role="search"] {
    top: 6px;
  }
  .pager-right {
    right: 0;
  }
  .pager-left {
    left: 0;
  }
}

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  blockquote {
    margin-bottom: 0;
  }
  .navbar-inverse .navbar-nav > li > a,
  .lang-switcher li > a {
    line-height: 42px;
  }
}
