title = "artikel"
url = "/artikel/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Pis\Site\Models\Artikel"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"

[builderList artikel_lain]
modelClass = "Pis\Site\Models\Artikel"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 4
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"
==
<?php
function onStart()
{
    $slug = $this->param('slug');
    $sticky = Db::select("select sticky from pis_site_artikel where slug = '$slug'");
    $sticky = $sticky[0]->sticky;
    $this['sticky_paket_list'] = $sticky;
   
}
?>
==
{% put menu_artikel %}
active
{% endput %}
{% put page_header %}
{{record.page_header.path}}
{% endput %}
{% put page_title %}
{{record.title}}
{% endput %}
{% put page_breadcrumb %}
<i class="fa fa-angle-right"></i> <a href="{{ 'artikel-list'|page }}">Artikel</a> <i class="fa fa-angle-right"></i> {{record.title}}</p>
{% endput %}

{% partial 'layout/page_header' %}
<!-- BLOG -->
<section>
    <div class="wrapper body-copy--wrapper"> 
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				<img src="{{record.image_above.path}}" alt="artikel image" class="img-responsive article-img full-width of-image">
				<div class="article-content">
					<h2>{{record.title}}</h2>
					<p>{{record.created_at|date("d M Y")}}</p>
					{{record.content|raw}}
				</div>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 text-center">
						<h2>Artikel Lainnya</h2>
					</div>
					{% set list = artikel_lain.records %}
					{% set displayColumn = artikel_lain.displayColumn %}
					{% set noRecordsMessage = artikel_lain.noRecordsMessage %}
					{% set detailsPage = artikel_lain.detailsPage %}
					{% set detailsKeyColumn = artikel_lain.detailsKeyColumn %}
					{% set detailsUrlParameter = artikel_lain.detailsUrlParameter %}
						{% set num = 0 %}
						{% for other in list %}
							{% if other.id != record.id and num < 3%}
								<div class="col-sm-4">
									<img src="{{other.image_above.path}}" alt="artikel image" class="img-responsive article-img">
									<div class="article-content">
										<h3>{{other.title}}</h3>
										<p class="small">{{other.created_at|date("d M Y")}}</p>
										<p>{{other.content|striptags|slice(0, 40) ~ '...'}}</p>
										<a href="{{'artikel-list'|page ~ '/' ~ other.slug}}">Selengkapnya <span><i class="fa fa-long-arrow-right"></i></span></a>
									</div>
								</div>
								{% set num = num + 1 %}
							{% endif %}
						{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% if record.have_sticky == 1 %}
	{% partial 'layout/paket_sticky' %}
	{% endif %}
	</div>
</section>
	<!-- END BLOG -->