title = "artikel"
url = "/artikel"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Pis\Site\Models\Artikel"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "artikel"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 8
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"
==
{% put menu_artikel %}
active
{% endput %}
{% put page_header %}
{{'assets/img/penida-trip-paket-detail-bg.jpg'|theme}}
{% endput %}
{% put page_title %}
Artikel
{% endput %}
{% put page_breadcrumb %}
<i class="fa fa-angle-right"></i> Artikel</p>
{% endput %}

{% partial 'layout/page_header' %}
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
<!-- BLOG -->
<section>
	<div class="container">
		<div class="row">
			{% for record in records %}
			<div class="col-md-3 col-sm-6">
				<img src="{{record.image_above.path}}" alt="artikel image" class="img-responsive of-image article-img">
				<div class="article-content">
					<h3>{{record.title}}</h3>
					<p class="small">{{record.created_at|date("d M Y")}}</p>
					<p>{{record.content|striptags|slice(0, 40) ~ '...'}}</p>
					<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">Selengkapnya <span><i class="fa fa-long-arrow-right"></i></span></a>
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<nav aria-label="Page navigation" class="text-center">
					{% if records.lastPage > 1 %}
					<ul class="pagination">
						{% if records.currentPage > 1 %}
						<li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
						{% endif %}

						{% for page in 1..records.lastPage %}
						<li class="{{ records.currentPage == page ? 'active' : null }}">
							<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
						</li>
						{% endfor %}

						{% if records.lastPage > records.currentPage %}
						<li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
						{% endif %}
					</ul>
					{% endif %}
				</nav>
			</div>
		</div>
	</div>
</section>
	<!-- END BLOG -->