title = "Boat"
url = "/boat"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Pis\Site\Models\Generic"
identifierValue = 2
modelKeyColumn = "id"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<?php
function onStart()
{
    $this['sticky_paket_list'] = 'Boat';
}
?>
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% put menu_boat %}
    active
{% endput %}
{% put page_header %}
    {{record.page_header.path}}
{% endput %}
{% put page_title %}
    {{record.title}}
{% endput %}
{% put page_breadcrumb %}
    <i class="fa fa-angle-right"></i> {{record.title}}</p>
{% endput %}

{% partial 'layout/page_header' %}


<div class="wrapper body-copy--wrapper">
{{record.content|raw}}
{% partial 'layout/paket_sticky' %}
</div>