title = "lokasi"
url = "/lokasi/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Pis\Site\Models\Spot"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
{% put page_header %}
    {{record.page_header.path}}
{% endput %}
{% put page_title %}
    {{record.title}}
{% endput %}
{% put page_breadcrumb %}
    <i class="fa fa-angle-right"></i> {{record.title}}</p>
{% endput %}

{% partial 'layout/page_header' %}


<div class="wrapper"> 
<!-- DESCRIPTION -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center body-copy--wrapper">
{{record.content|raw}}
</div>
		</div>
	</div>
</section>
<!-- END DESCRIPTION -->
</div>