title = "paket"
url = "/paket/:slug"
layout = "default"
is_hidden = 0

[contactForm]
==
<?php
use Pis\Site\Models\Paket;


function onStart(){
$this['paket'] = Paket::where('slug', $this->param('slug'))->first();
}
?>
==
{% put menu_paket %}
    active
{% endput %}
{% put page_header %}
    {{paket.page_header.path}}
{% endput %}
{% put page_title %}
    {{paket.name}}
{% endput %}
{% put page_breadcrumb %}
    <i class="fa fa-angle-right"></i> <a href="{{ 'paket-list'|page }}">Tour Trip Penida</a> <i class="fa fa-angle-right"></i> {{paket.name}}</p>
{% endput %}
{% put form_changer %}
    {{ paket.name }}
{% endput %}
{% put additional_js %}
    {% partial 'form_value_changer' %}
{% endput %}


{% partial 'layout/page_header' %}

<!-- CONTENT -->
<section>
	<div class="container">
		<div class="row">
			<!-- left coloumn -->
			<div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
				<div class="owl-carousel owl-theme owl-carousel--photo">
					{% for slide in paket.slider %}
						<div class="item">
							<img src="{{slide.path}}" alt="{{slide.file_name}} | {{paket.name}}" class="img-responsive">
						</div>
					{% endfor %}
				</div>

				<h2>{{ paket.name }}</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Jumlah Orang</th>
							<th>WNI</th>
							<th>WNA</th>
						</tr>
					</thead>
					<tbody>
						{% for price in paket.price_list %}
						<tr>
							<td>{{ price.jumlah }}</td>
							<td>Rp <b>{{ price.wni|number_format(0, ',', '.') }}</b> / Org</td>
							<td>Rp <b>{{ price.wna|number_format(0, ',', '.') }}</b> / Org</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				{{ paket.description|raw }}

				<div class="timeline-centered">
					{% for activity in paket.itinerary %}
						<article class="timeline-entry">
							<div class="timeline-entry-inner">
								<div class="timeline-icon">
									<img src="{{activity.image|media}}" alt="Fastboat Dwi Manunggal" class="img-responsive img-circle">
								</div>
								<div class="timeline-label">
									<h4> {{activity.time}} </h4>
									<p>{{activity.description}}</p>
								</div>
							</div>
						</article>
					{% endfor %}
				</div>

				<p><em>*Itenerary tidak mengikat, tergantung situasi dan kondisi   {{this.page.id}}</em></p>
			</div>
			<!-- end left coloumn -->
			<!-- right coloumn -->
			<div class="col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1" style="position:relative;">
				{% component 'contactForm' %}
			</div>
			<!-- end right coloumn -->
		</div>
	</div>
</section>
<!-- END CONTENT -->