title = "paket"
url = "/:param|^paket|booking$"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Pis\Site\Models\Paket"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "paket"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[contactForm]
==
{% put menu_paket %}
    active
{% endput %}
{% put page_header %}
    {{'assets/img/penida-trip-paket-bg.jpg'|theme}}
{% endput %}
{% put page_title %}
    Paket Tour Nusa Penida
{% endput %}
{% put page_breadcrumb %}
    <i class="fa fa-angle-right"></i> Paket Tour Nusa Penida</p>
{% endput %}
{% put additional_js %}
	<script src="{{'assets/js/scrollit.min.js'|theme}}"></script>
	<script>
	    // Smooth Scroll
		$.scrollIt({
			topOffset: -75
		});
	    function changepaket(){
	        var url = window.location.href;
	        if(typeof(url) != "undefined" && url !== null) {
                var arr = url.split('?');
    	        var paket = arr[1].split('=');
    	        paket = paket[1];
    	        console.log(paket);
                $( "#"+paket ).trigger( "click" );
            }	        
	    }
	    $( document ).ready(function() {
	        changepaket();
        });
        
        function paketChanger(element){
            $('#pilihpaket').val(element.getAttribute("data-paket"));
        }
	</script>
{% endput %}
 
{% partial 'layout/page_header' %}

<!-- PAKET -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h2 class="underline-s">Paket Tour Nusa Penida</h2>
			</div>
		</div>
		<div class="row">
			{% set records = builderList.records %}
			{% set displayColumn = builderList.displayColumn %}
			{% set noRecordsMessage = builderList.noRecordsMessage %}
			{% set detailsPage = builderList.detailsPage %}
			{% set detailsKeyColumn = builderList.detailsKeyColumn %}
			{% set detailsUrlParameter = builderList.detailsUrlParameter %}
			{% for record in records %}
			<div class="col-md-4 col-sm-6">
				<div class="package-item text-center">
					<img src="{{record.thumbnail.path}}" alt="Paket Trip Halfday" class="img-responsive">
					<div class="package-box">
					    <h3 class="visible-xs">{{record.name}}</h3>
						{% set min = 10000000 %}
				        {%for price in record.price_list%}
				            {% if min > price.wni %}
				                {% set min = price.wni %}
				            {% endif %}
				        {%endfor%}
				        <p class="visible-xs">Mulai dari <span>Rp {{ min|number_format(0, ',', '.') }}</span></p>
				        
						<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="btn btn-primary">Selengkapnya <img src="{{'assets/img/penida-trip-search-icon.svg'|theme}}" alt="Search Icon" class="package-box--btn-img"></a>
						<a data-scroll-nav="0" class="btn btn-danger" data-paket="{{record.name}}" onclick="return paketChanger(this)" id="{{record.name|replace({' ':''})}}">Booking Now <img src="{{'assets/img/penida-trip-booking-icon.svg'|theme}}" alt="Booking Icon" class="package-box--btn-img"></a>
						
						<h3 class="hidden-xs">{{record.name}}</h3>
						{% set min = 10000000 %}
				        {%for price in record.price_list%}
				            {% if min > price.wni %}
				                {% set min = price.wni %}
				            {% endif %}
				        {%endfor%}
				        <p class="hidden-xs">Mulai dari <span>Rp {{ min|number_format(0, ',', '.') }}</span></p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- END PAKET -->

<!-- FORM BOOKING -->
<section id="booking" data-scroll-index="0" class="section-booking" style="background-image:url('{{'assets/img/penida-trip-booking-bg.jpg'|theme}}');">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
				{% component 'contactForm' %}
			</div>
		</div>
	</div>
</section>
	<!-- END FORM BOOKING -->