title = "Travel Nusa Penida"
url = "/travel-nusa-penida"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Pis\Site\Models\Generic"
identifierValue = "Travel Nusa Penida"
modelKeyColumn = "title"
displayColumn = "content"
notFoundMessage = "Record not found"
==
<?php
function onStart()
{
    $this['sticky_paket_list'] = 'Travel';
}
?>
==
{% put menu_travel %}
    active
{% endput %}
{% put page_header %}
    {{record.page_header.path}}
{% endput %}
{% put page_title %}
    {{record.title}}
{% endput %}
{% put page_breadcrumb %}
    <i class="fa fa-angle-right"></i> {{record.title}}</p>
{% endput %}

{% partial 'layout/page_header' %}

<div class="wrapper">
<section class="body-copy--wrapper">
{{record.content|raw}}
</section>
{% partial 'layout/paket_sticky' %}
</div>