[builderList]
modelClass = "Pis\Site\Models\Artikel"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "artikel"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 2
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"

[builderDetails lokasi]
modelClass = "Pis\Site\Models\Tagline"
identifierValue = "lokasi"
modelKeyColumn = "name"
displayColumn = "content"
notFoundMessage = "Record not found"

[builderDetails telepon]
modelClass = "Pis\Site\Models\Tagline"
identifierValue = "telepon"
modelKeyColumn = "name"
displayColumn = "content"
notFoundMessage = "Record not found"

[builderDetails email]
modelClass = "Pis\Site\Models\Tagline"
identifierValue = "email"
modelKeyColumn = "name"
displayColumn = "content"
notFoundMessage = "Record not found"
==
<!-- FOOTER -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-md-offset-1 col-sm-4 footer-content">
					<div class="contact-box">
						<img src="{{'assets/img/penida-trip-location-icon.svg'|theme}}" alt=" Icon Lokasi Penida Trip" class="img-responsive">
						{% set record = lokasi.record %}
                        {% set displayColumn = lokasi.displayColumn %}
                        {% set notFoundMessage = lokasi.notFoundMessage %}
                        
                        {{ attribute(record, displayColumn)|raw }}
					</div>
					<div class="contact-box">
						<img src="{{'assets/img/penida-trip-phone-icon.svg'|theme}}" alt=" Icon Telepon Penida Trip" class="img-responsive">
						{% set record = telepon.record %}
                        {% set displayColumn = telepon.displayColumn %}
                        {% set notFoundMessage = telepon.notFoundMessage %}

                        {{ attribute(record, displayColumn)|raw }}
					</div>
					<div class="contact-box">
						<img src="{{'assets/img/penida-trip-mail-icon.svg'|theme}}" alt=" Icon Email Penida Trip" class="img-responsive">
						{% set record = email.record %}
                        {% set displayColumn = email.displayColumn %}
                        {% set notFoundMessage = email.notFoundMessage %}
                        
                        {{ attribute(record, displayColumn)|raw }}
					</div>
					<div class="content-box">
						<ul class="list-inline social-icon-wrapper">
							<li>
								<a href="#">
									<img src="{{'assets/img/penida-trip-facebook-icon.svg'|theme}}" alt="Facebook Penida Trip Icon" class="img-responsive social-icon">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="{{'assets/img/penida-trip-instagram-icon.svg'|theme}}" alt="Facebook Penida Trip Icon" class="img-responsive social-icon">
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-md-offset-1 col-sm-4 footer-content">
					<h4>Artikel Terbaru</h4>
					{% set records = builderList.records %}
                    {% set displayColumn = builderList.displayColumn %}
                    {% set noRecordsMessage = builderList.noRecordsMessage %}
                    {% set detailsPage = builderList.detailsPage %}
                    {% set detailsKeyColumn = builderList.detailsKeyColumn %}
                    {% set detailsUrlParameter = builderList.detailsUrlParameter %}
                    
                    {% for record in records %}
                        <div class="recent-article-list">
    						<p><a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{{record.title}}</a></p>
    						<p>{{record.content|striptags|slice(0, 40) ~ ' ...'}}</p>
    					</div>
                    {% endfor %}
				</div>
				<div class="col-md-3 col-md-offset-1 col-sm-4 footer-content">
					<h4>Menu Lainnya</h4>
					<ul class="list-unstyled">
						<li><a href="{{ 'hotel'|page }}">Hotel</a></li>
						<li><a href="{{ 'boat'|page }}">Boat</a></li>
						<li><a href="{{ 'about'|page }}">About</a></li>
						<li><a href="{{ 'paket-list'|page }}">Daftar paket</a></li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12 text-center">
					<p>&copy; 2017 Penida Trip - All rights reserved. Crafted by <a href="http://profileimage.studio">Profile Image Studio</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- END FOOTER -->
	{% placeholder foot_before_js %}

	<!-- JAVASCRIPT -->
	{% partial 'layout/_js' %}
	<!-- END SITE JAVASCRIPT -->

	<!-- Additional JS -->

	<!-- Check heatmat on heatmap.me -->
	<!-- <script>
	(function(h,e,a,t,m,p) {
	m=e.createElement(a);m.async=!0;m.src=t;
	p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
	})(window,document,'script','https://u.heatmap.it/log.js');
	</script> -->


	<!-- Google Adword script -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 847551446;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "VYjfCP-Ov3IQ1reSlAM";
	var google_conversion_value = 200000.00;
	var google_conversion_currency = "IDR";
	var google_remarketing_only = false;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/847551446/?value=200000.00&amp;currency_code=IDR&amp;label=VYjfCP-Ov3IQ1reSlAM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
	<!-- End of Google Adword script -->

	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/59545a1b50fd5105d0c83203/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
</body>

</html>