==
<!DOCTYPE html>
<html lang="id">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="penida trip menyediakan paket wisata tour nusa penida secara private">
	<meta name="keywords" content="paket tour nusa penida, trip nusa penida, tour nusa penida, paket wisata nusa penida, nusa penida tour">
	<meta name="author" content="Penida Trip">

	<!-- TITLE -->
	<title>Paket Tour Nusa Penida | Nusa Penida Trip</title>
	<!-- END TITLE -->

	<!-- FAV ICON -->
	<link rel="icon" type="image/png" href="{{'assets/img/favicon-penida-trip.png'|theme}}">
	<!-- END FAV ICON -->

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" media="print">
	<!-- END GOOGLE FONTS -->

	<!-- CSS -->
	{% partial 'layout/_css' %}
	<!-- END CSS -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Google Analytic Script, ditaroh sini karena webmaster google minta nya gitu -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-101536027-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<!-- End of google Analytic script -->
</head>