[builderList]
modelClass = "Pis\Site\Models\Paket"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<body>
	<!-- NAV -->
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-transparent navbar-mobile" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{'home'|page}}">
					<img src="{{'assets/img/penida-trip-logo.svg'|theme}}" alt="Penida Trip Logo" class="img-responsive">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right navbar-wrapper">
					<li class="{% placeholder menu_home %}"><a href="{{'home'|page}}">Home</a></li>
					<li class="dropdown {% placeholder menu_paket %}">
						<a href="{{'paket-list'|page}}" class="dropdown-toggle" >Paket Tour <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% set records = builderList.records %}
							{% set displayColumn = builderList.displayColumn %}
							{% set noRecordsMessage = builderList.noRecordsMessage %}
							{% set detailsPage = builderList.detailsPage %}
							{% set detailsKeyColumn = builderList.detailsKeyColumn %}
							{% set detailsUrlParameter = builderList.detailsUrlParameter %}

							{% for record in records %}
								<li><a href="{{ url('/paket') ~ '/' ~ record.slug }}">{{record.name}}</a></li>
							{% endfor %}
						</ul>
					</li>
					<li class="{% placeholder menu_travel %}"><a href="{{'travel-nusa-penida'|page}}">Travel</a></li>
					<li class="{% placeholder menu_hotel %}"><a href="{{'hotel'|page}}">Hotel</a></li>
					<li class="{% placeholder menu_boat %}"><a href="{{'boat'|page}}">Boat</a></li>
					<li class="{% placeholder menu_artikel %}"><a href="{{'artikel-list'|page}}">Artikel</a></li>
					<!-- <ul class="list-inline lang-switcher navbar-right hidden-xs">
					    <li><a href="#" class="active">ID</a></li> |
					    <li><a href="#">EN</a></li>
					</ul> -->
				</ul>

			<!--     <form class="navbar-form hidden-xs" role="search">
			    <div class="input-group">
			        <input type="text" class="form-control pull-right" placeholder="Search">
			        <span class="input-group-btn">
			            <button type="submit" class="btn btn-default btn-search">
			                <span class="glyphicon glyphicon-search">
			                    <span class="sr-only">Search</span>
			                </span>
			            </button>
			        </span>
			    </div>
			</form> -->

			</div>
		</div>
	</nav>
	<!-- END NAV -->