description = "header halaman+ ombaknya"
==
<!-- PAGE TITLE -->
	<section class="page-title" style="background-image:url('{% placeholder page_header %}')">
		<div class="overlay overlay-green"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 text-center">
					<h1 class="page-title--heading">{% placeholder page_title %}</h1>
					<p class="page-title--breadcrumb"><a href="{{'home'|page}}">Home</a> {% placeholder page_breadcrumb %}
				</div>
			</div>
		</div>
	</section>
	<!-- END PAGE TITLE -->

	<!-- WAVE -->
	<div class="wave">
		<img src="{{'assets/img/penida-trip-wave.svg'|theme}}" alt="" class="img-responsive">
	</div>
	<!-- END WAVE -->