description = "menu paket sticky di bagian bawah halaman"

[builderList]
modelClass = "Pis\Site\Models\Paket"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "paket"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
<?php
use Pis\Site\Models\Paket;
use Pis\Site\Models\PaketDisplay;
function onStart()
{
    $this['array'] = PaketDisplay::where('name', $this['sticky_paket_list'])->take(1)->get();
    $str = 'Select 0 as id from dual';
    foreach($this['array'][0]['content'] as $paket){
            $str = $str.' union select ' . $paket['paket'] . ' as id' ;
        }    
    $this['paket_list']=Db::select('select p.*, concat(\'http://penidatrip.com/storage/app/uploads/public/\',SUBSTRING(f.disk_name, 1, 3),\'/\',SUBSTRING(f.disk_name, 4, 3),\'/\',SUBSTRING(f.disk_name, 7, 3),\'/\', f.disk_name) as thumbnail, f.file_name from pis_site_paket p inner join ('.$str.') d on p.id = d.id inner join system_files f on f.attachment_id = p.id  WHERE f.attachment_type like \'%Paket\' AND f.field = \'thumbnail\'');
    $min_array = [];
    foreach($this['paket_list'] as $paket){
        $min = 10000000;
        foreach(json_decode($paket->price_list) as $row){
            if($row->wni < $min){
                $min = $row->wni;
                }
            }
        array_push($min_array, $min);
        }
        $this['min'] = $min_array;
}
?>
==
{% put additional_js %}
	<script src="{{'assets/js/sticky.js'|theme}}"></script>
{% endput %}
<!-- Slider Booking -->
		<section class="slider-paket sticky">
			<div class="container">
				<div class="col-sm-12">
					<div id="owl-demo-2" class="owl-carousel owl-theme owl-carousel--slide">
                    
                    {% set index = 0 %}
                    {% for record in paket_list %}
                        <div class="item">
							<!-- <div class="col-sm-2 col-md-4 hidden-sm hidden-xs">
							    <img src="{{record.thumbnail.path}}" alt="{{record.name}}" class="img-responsive carousel--slide-img">
							</div> -->
							<div class="col-xs-12 text-center">
								<div class="package-box package-box-sticky">
									<h4><a href="{{ url('/')~'/paket/' ~ record.slug }}">{{record.name}} </a></h4>
									<p>Mulai dari <span>Rp {{ min[index]|number_format(0, ',', '.') }}</span></p>
									<!-- <a href="{{'paket-list'|page ~ '#booking'}}" class="package-link">Booking Now </a> -->
								</div>
							</div>
						</div>
						{% set index = index + 1 %}
                    {% endfor %}
					</div>
				</div>
				<!-- #owl-demo-2 -->
				<div class="customNavigation">
					<span class="pager-left"><a class="btn btn-link prev"><span class="fa fa-angle-left"></span></a>
					</span>
					<span class="pager-right"><a class="btn btn-link next"><span class="fa fa-angle-right"></span></a>
					</span>
				</div>
			</div>
			<!-- .container -->
		</section>
		<!-- END Slider -->
		</div>
		{% for array in b %}
    		{% for paket_id in array.content %}
    		    {{ paket_id.paket }}
    		{% endfor %}
		{% endfor %}